@use './reset';
@use './variables/global';

.app {
	font: var(--font-m);
	min-height: 100vh;
	.app-shell-root {
		min-width: 100%;
	}
	.app-shell-main {
		min-width: 100%;
		padding-top: var(--app-shell-header-offset) / 2;
		padding-inline: 50px;
		@media screen and (max-width: 36em) {
			padding-inline: 0;
		}
	}
}

.page-wrapper {
	display: flex;
	padding: 20px;
	flex-direction: column;
}
