$base-border: 1px solid
	light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

.header {
	height: 56px;
	margin: 20px auto;
	width: 80vw;
	background-color: var(--mantine-color-body);
	border: $base-border;
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	border-radius: var(--mantine-radius-xl);
	box-shadow: var(--mantine-shadow-sm);
	position: sticky;
	top: 20px;
	z-index: 10;
}

.group {
	width: 100%;
}
.search {
	width: 10%;
}

.inner {
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.link {
	display: block;
	line-height: 1;
	padding: 8px 12px;
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	@mixin hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}
}
